    <!-- Header -->
<header class="w3-container coloheder w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">STUDIES</h1>
</header> 

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h2>INSTITUTO POLITECNICO NACIONAL</h2>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018-En curso</h6>
      <h3 class="w3-padding-32">INGENIERIA CIVIL </h3>
      <h4>ESCUELA SUPERIOR DE INGENIERIA Y ARQUITECTURA(ESIA) - ZACATENCO</h4>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="w3-third w3-center">
      <img class="imagLogo" src="../../../assets/img/ipn.png" alt="esccudo ESIA">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img class="imagLogo" src="../../../assets/img/utc.png" alt="esccudo ESIA">
    </div>

    <div class="w3-twothird">
      <h2>UNIVERSIDAD TRES CULTURAS</h2>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015-2018(Trunca)</h6>
      <h3 class="w3-padding-32">INGENIERIA EM SISTEMAS </h3>
      <h4>ESCUELA SUPERIOR DE CIENCIAS DE LA COMPUTACION</h4>
      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
<!-- Tercer Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h2>COBACH</h2>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014-2015</h6>
      <h3 class="w3-padding-32">ESCUELA MEDIO SUPERIOR(Examen unico)</h3>
      <h4>TECNICO EN INFORMATIA</h4>
      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="w3-third w3-center">
      <img class="imagLogo" src="../../../assets/img/cobach.png" alt="esccudo ESIA">
    </div>
  </div>
</div>

  
