<!--<div class="container-fluid p-0 h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-12 h-100 panel-left">
      <div class="row no-gutters h-100">
        <div class="col-12">
        <header-comp></header-comp>
        </div>
        <div class="content col-12">
          
        </div>
      </div>
    </div>
  </div>
</div>-->

<!-- Page Container -->
<div class="w3-content" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row">
  
    <!-- Left Column -->
    <div class="w3-quarter w3-sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Right Column -->
    <div class="w3-container w3-threequarter">
      <router-outlet></router-outlet>
      <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p>Find me on social media.</p>
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </footer>
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
