html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-row {
    padding-left: 6%;
    padding-right: 7%;
}

.w3-quarter {
 background-color: black;
 height: 100%;
}

.w3-threequarter { 
    margin-left: 20%;
    width: 90%;}

.w3-sidebar { 
    overflow-x:hidden;
    left: 0px;
}

