
.w3-container {
    background-color: black;
}
.BanerLeft {
background-color: blue;

}



/* Information */

#Name {
color: white;
}
#ImgPerf {
    width:90%;
    opacity: 0.9;
    padding-left: 7%;
    padding-top: 15%;
}


.RedesSociales {

    
    position:absolute;
    bottom:20%;
    right:15%;
    
}



