<!--<div id="sidebar" class="pt-3">
    <div class="row">
      <div class="col-md-12 col-6 text-center">
        <img class="img-fluid rounded-circle" [src]="img_profile">
      </div>
      <div class="col-md-12 col-6">
        <h1>Curriculum vitae</h1>
        <h2></h2>
      </div>
    </div>
  
    <div class="row">
      <div class="social-block col-md-12 col-6 mb-md-2" *ngFor="let sn of social_networks">
        <a class="btn btn-block rounded-0 btn-social btn-{{sn.icon}}" href="{{sn.link}}" target="_blank">
          <span class="fa fa-{{sn.icon}}"></span> {{sn.name}}
        </a>
      </div>
  
    </div>
  </div>-->
  <div class="w3-text-grey w3-card-4 BanerLeft">
    <div id="w3-container ConteinerPrimary row">
    <div class="w3-display-container ContendFoto col-sm-5">
      <img src="../../../assets/img/FotoPerfil.jpg" id="ImgPerf" alt="Avatar">
      <div class="w3-display-bottomleft  w3-text-white">
      </div><br>
    </div>
    <div class="ContenInf col-sm-7">
      <h2 id="Name">{{name}}</h2>
      <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer</p>
      <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Mexico, CDMX</p>
      <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>raulisai97@gmail.com</p>
      <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>5576176856</p>
      <hr>
    </div>
      </div>
      <nav class="navPrincipal">
        <div class="Menu">
          <ul class="nav navbar-right">
            <li routerLinkActive="active"><a [routerLink]="['Home']"><span class="glyphicon glyphicon-user"></span> Home</a></li>
            <li routerLinkActive="active"><a [routerLink]="['Studies']"><span class="glyphicon glyphicon-log-in"></span> Educación</a></li>
            <li routerLinkActive="active"><a [routerLink]="['Skill']"><span class="glyphicon glyphicon-user"></span> Skill</a></li>
            <li routerLinkActive="active"><a [routerLink]="['Works']"><span class="glyphicon glyphicon-log-in"></span> Experiencia</a></li>
            <li routerLinkActive="active"><a [routerLink]="['Contact']"><span class="glyphicon glyphicon-log-in"></span>Contacto</a></li>
          </ul>
        </div>
      </nav>
      <div class="RedesSociales">
        
        <i class="fa fa-facebook-official"></i>
        <i class="fab fa-facebook"></i>
        
      </div>
      
  </div>
