p, i, a {color: white;}

/* Information */


#Name {
color: white;
}
#ImgPerf {
    width:100%;
    opacity: 0.9;
    padding-left: 7%;
    padding-top: 15%;
}

.ContenInf {

    text-align: right;
}
.Icn-menu {

    margin-top: 10%;
}
.navPrincipal {
    margin-top: 35%;
}
.redSociales {

    padding-top: 8%;
    }
.w3-button {
 margin-left: 5%;
}
.icon {
 margin-left: 5%;
 margin-right: 10%;
}
.nav > li > a:hover {
    background-color: rgba(60, 60, 65, 0.664);
}
