<!--<div id="sidebar" class="pt-3">
    <div class="row">
      <div class="col-md-12 col-6 text-center">
        <img class="img-fluid rounded-circle" [src]="img_profile">
      </div>
      <div class="col-md-12 col-6">
        <h1>Curriculum vitae</h1>
        <h2></h2>
      </div>
    </div>
  
    <div class="row">
      <div class="social-block col-md-12 col-6 mb-md-2" *ngFor="let sn of social_networks">
        <a class="btn btn-block rounded-0 btn-social btn-{{sn.icon}}" href="{{sn.link}}" target="_blank">
          <span class="fa fa-{{sn.icon}}"></span> {{sn.name}}
        </a>
      </div>
  
    </div>
  </div>-->
  <div class=" w3-card-4 BanerLeft">
    <div id="w3-container ConteinerPrimary row">
    <div class="w3-display-container ContendFoto col-sm-5">
      <img src="../../../assets/img/FotoPerfil.jpg" id="ImgPerf" alt="Avatar">
      <div class="w3-display-bottomleft  w3-text-white">
      </div><br>
    </div>
    <div class="ContenInf col-sm-7">
      <h2 id="Name">{{name}}</h2>
      <p>Developer</p>
      <p>Mexico, CDMX</p>
      <!--<p>raulisai97@gmail.com</p>
      <p>5576176856</p>--->
    </div>
      </div>
      <br>
      <div class="Menu">
      <nav class="navPrincipal">
          <ul class="nav">
            <li routerLinkActive="active" class="Icn-menu"><a [routerLink]="['Home']"><i class="fa fa-th icon" style="font-size:24px"></i>Home</a></li>
            <li routerLinkActive="active" class="Icn-menu"><a [routerLink]="['Studies']"><i class="fa fa-bank icon" style="font-size:24px"></i> Educación</a></li>
            <li routerLinkActive="active" class="Icn-menu"><a [routerLink]="['Skill']"><i class="fa fa-cogs icon" style="font-size:24px"></i> Skill</a></li>
            <li routerLinkActive="active" class="Icn-menu"><a [routerLink]="['Works']"><i class="fa fa-suitcase icon" style="font-size:24px"></i> Experiencia</a></li>
            <li routerLinkActive="active" class="Icn-menu"><a [routerLink]="['Contact']"><i class="fa fa-vcard icon" style="font-size:24px"></i>Contacto</a></li>
          </ul>
      </nav>
    </div>
    <div class="redSociales">
      <h4>Follow Us</h4>
      <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
      <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
      <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
      <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
      
    </div>
      
  </div>
