p, i, a {color: white;}

/* Information */


#Name {
color: white;
}
#ImgPerf {
    width:90%;
    opacity: 0.9;
    padding-left: 7%;
    padding-top: 15%;
}

.ContenInf {

    text-align: right;
}
.Icn-menu {

    margin-top: 9%;
}
.navPrincipal {
    margin-top: 25%;
}


