<div class="contenedor-total">

  <header class="w3-container coloheder w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Skills</h1>
  </header> 

  
   <!-- Header -->
   <div class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </div>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>5</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>Lenguajes de Programación</h5>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>3</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Framework</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Idiomas</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>15</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Programas</h4>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h3>LENGUAJES DE PROGRAMACION</h3>
    <p>Java SE</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:40%">40%</div>
    </div>
    <p>C#</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:60%">60%</div>
    </div>
    <p>Android</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:60%">60%</div>
    </div>
    <p>Javascript</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:80%">80%</div>
    </div>
    <p>HTML5 && CSS</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:95%">90%</div>
    </div>
    <hr>
    <h3>Framework</h3>
    <p>Angular</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-blue" style="width:70%">70%</div>
    </div>
    <p>NodeJS</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-blue" style="width:60%">60%</div>
    </div>
    <p>React</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-blue" style="width:50%">50%</div>
    </div>
     <hr>
     <h3>DATABASE</h3>
    <p>MySQl</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:70%">70%</div>
    </div>
    <p>MoongoDB</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:40%">40%</div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
  <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
    <p>English</p>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-round-xlarge w3-teal w3-center" style="height:24px;width:40%">40%</div>
    </div>
  </div>
    <br>


  <div class="w3-container">
    <h5>-</h5>
    <table class="w3-table w3-striped  w3-border w3-hoverable w3-white">
      <tr>
        <td>Write</td>
        <td>50%</td>
      </tr>
      <tr>
        <td>Listening</td>
        <td>30%</td>
      </tr>
      <tr>
        <td>reading</td>
        <td>70%</td>
      </tr>
    </table><br>
  </div>
  <hr>

 
    <br>
    <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
          <h5>-</h5>
          <img src="../../../assets/img/aoutocad.jpg" style="width:100%" alt="Google Regional Map">
        </div>
        <div class="w3-twothird">
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>PROGRAMAS</b></p>
          <table class="w3-table w3-striped w3-white">
            <tr>
              <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
              <td>Git && GitHub</td>
              <td><i>50%</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
              <td>Excel</td>
              <td><i>90%</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
              <td>AutoCad 2D</td>
              <td><i>60%</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
              <td>AutoCad 3D</td>
              <td><i>30%</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
              <td>Photoshop</td>
              <td><i>60%</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
              <td>Unity 2D</td>
              <td><i>50%</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
              <td>Paqueteria Office</td>
              <td><i>80%</i></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <hr>
  <div class="w3-container">
    <h3>RECOMENDACIONES</h3>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <img src="/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Mike</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jill</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jane</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>
  </div>
</div>
